/* this one for maximum height */
body,html{
    height:100vh;
    margin:0px;
    box-sizing: border-box;
}

/*base for the whole page*/
.container{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 0.5fr 4fr;
}
/*base for the header section*/
.header{
    grid-column: 2 / 4;
    display: flex;
    justify-content: space-between;
    padding: 0px 2rem; 
    padding-top:1rem;   
    align-items: center;
    
}
.notis{
    width:30%;
    display: flex;
    align-items: center;
    gap:1rem;
    justify-content: right;
}
#pfp{
    border:1px solid #800080;
    border-radius: 30px;
}
.search{
    display: flex;
    width:40%;
    gap: 1rem;
    align-items: center;
}
.search span{
    background-color:#e4e4e7;
    width:90%;
    height:2rem;
    border-radius:16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*base for the side section*/
.side{
    height:102%;
    grid-row:1/4;
    background-color: #27272a;
    display: grid;
    grid-template-rows: 1.2fr 3fr 3fr;
color:#e4e4e7;
padding:0 2rem;
padding-top:1rem ;
}

.logo{
    font-size:x-large;
    display: grid;
    grid-template-columns: repeat(2,2.5rem);
    margin-top: 1rem;   
    align-items: center;
    height: 30%;
}

.icon{
    color:#e4e4e7;
}
.home{
display: grid;
grid-template-columns: repeat(2,2rem);
grid-template-rows: repeat(6,2.5rem);
height: 80%;

}
.settings{
   
    height:40%;
    display: grid;
    grid-template-columns: repeat(2,2rem);
    grid-template-rows: repeat(6,2.5rem);
}


/*base for the nav section*/
.nav{
    grid-column: 2 / 4;
    padding: 0px 2rem;  
    padding-bottom: 1rem;
    margin-top:1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:0px 4px 4px #888888;
}
.username{
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
}
.username span{
    font-weight: bold;
}
.user{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#pfp2{
    border:1px solid #800080;
    border-radius: 35px;
} 

.option{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    justify-content: end;
    
}
.option div{
     background-color: lightblue;
     width:25%;
     height: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 16px;
}

/*base for the article section*/
.article{
     display: grid;
     grid-template-columns: 2.5fr 1fr;
     padding:0rem 2rem;
     padding-top: 2rem;
     background-color:#fafafa;
     z-index: -1;
     height: 100%;
}
.posts{
     height:90%;
     display: grid;
     grid-template-columns: 1.5fr 1.5fr;
     grid-template-rows: 1fr 1fr 1fr;
     row-gap: 15px;
}
.posts h3{
     line-height: 1px;
}
.posts div{    
     width:85%;
     background-color:white ;
     box-shadow:3px 1px 5px #888888;
     border-left:4px #8b8b8b solid;
     border-radius: 5px;
     padding:10px 10px;
     padding-right:15px;
     padding-bottom:15px;
}
.posts h3,p{
    margin:15px;
    padding:0px;
}
.watch{
    display:flex;
    gap:1rem;
    justify-content: right;
    font-size: larger;
    padding-right: 20px;
}


.aside{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    gap:1rem;
}
.aside div{
    display:flex;
    flex-direction: column;
    width:100%;
}
.trending{
    width:100%;
    background-color: whitesmoke;
    height:80%;
    box-shadow:3px 1px 5px #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding:20px 0px;
}
.trending section{
    width:70%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-content: center;
}

.trending section span{
    display: block;
    font-weight: bold;
}
.content{
    background-color: whitesmoke;
    height:90%;
    box-shadow:3px 1px 5px #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content section{
    display: flex;
    flex-direction: column;
    padding:0px 30px; 
}
.content h5, .content p{
    margin: 2px;
    padding: 0px;
}
.line {
    height: 0px;
    border: 1px solid #C4C4C4;
    display:inline-block;
  }
  
  .pfp1{
  border:1px solid #800080;
    border-radius: 30px;
  }